@using PromiseBlazorTest
@page "/"

<h1>Promise test</h1>

<p>Result: @result</p>

<button onclick="@RunPromise">Click me</button>

<p>Open the F12 tools and check the Console for more output</p>

@functions {
    private string result = "";

    async void RunPromise()
    {
        result = await Promises.ExecuteAsync<string>("myPromiseFn");
        StateHasChanged();

        try
        {
            result = await Promises.ExecuteAsync<string>("errorPromiseFn");
        }
        catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }

        GreetingModel model = await Promises.ExecuteAsync<GreetingModel>("complexPromiseFn");
        result = "Hello " + model.Name + "!";
        StateHasChanged();

        await Promises.ExecuteAsync<string>("paramPromiseFn", new GreetingModel { Name = "test" });
        Console.WriteLine("Done");
    }
}
